.nav-item {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.quorum {
    padding-left: 15px;
    
}
.redes {
    font-size: 40px;
    a {
        color: black;
        margin-right: 20px;
    }
}
.quorum-navbar {
    opacity: 0.7;
    padding-left: 40px;
    padding-right: 40px;
}
.router-link-active {
    border-bottom: 2px solid black;
    padding-top: 0px;
}