<!-- <div class="container-fluid content">
  
  <div class="main">
    <div class="main-content">
      <div [hidden]="loader">
        <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </div>
      <div class="spinner">
        <mat-spinner diameter="40" *ngIf="loader"></mat-spinner>
      </div>
    </div>
    
  </div>
</div> -->
<app-menu></app-menu>
<div [hidden]="loader">
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
  <div class="spinner" *ngIf="loader">
    <mat-spinner diameter="40" ></mat-spinner>
  </div>
<!-- <app-footer></app-footer> -->