<div>
    <img [src]="image" width="100%" alt="">
</div>
<section class="q-box">
        <h1 class="header">¿Qué son?</h1>
        <div class="divider"> </div>
        <p class="q-box-content">
            Nuestras cuatro líneas estratégicas son las áreas articularadoras de nuestro trabajo 
            en Quorum. Son las que estructuran y orientan las acciones para que encaminen el 
            cumplimiento de nuestra misión.
        </p>
    </section>
<!-- <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let linea of lineas" (click)="openDialog(linea)">
        <mat-card class="example-card">
            <img mat-card-image [src]="linea" alt="Photo of a Shiba Inu">
            <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->
<app-footer></app-footer>
<!-- <div class="row">
      <div class="col-md-3" *ngFor="let linea of lineas">
          <img [src]="linea" alt="">
          <span>Marketing</span>
      </div>
  </div> -->