<div class="footer">
  <div class="footer-logo">
    <div class="image-footer-logo">
        <img width="200px" src="../../../assets/quorum2.png" alt="">
    </div>
    <p>Contamos con un equipo cualificado de profesionales con posgrados 
      de las universidades más prestigiosas del país. A esto se le suma el apoyo
     y la asesoría de docentes e investigadores universitarios con amplia experiencia
     en la elaboración y ejecución de proyectos </p>
  </div>
  <div class="footer-contact">
      <h3>Contacto</h3>
    <mat-list>
        <mat-list-item>
            <i mat-list-icon class="fa fa-phone"></i>
            <h5>(+57) 350 637 21 03</h5>
        </mat-list-item>
        <mat-list-item>
            <i mat-list-icon class="fa fa-envelope"></i>
            <h5>contacto@corporacionquorum.org</h5>
        </mat-list-item> 
    </mat-list>
  </div>
  <div class="footer-siguenos">
    <h3>Síguenos</h3>
    <div class="grid-3 redes">
      <a href="https://www.facebook.com/corporacionquorum" class="fa fa-facebook-official"></a>
      <a href="https://www.instagram.com/corporacionquorum/" class="fa fa-instagram"></a>
      <a href="https://twitter.com/CorporacinQuor1" class="fa fa-twitter-square"></a>
    </div>
    <!-- <div class="boletin">
      <h5>Suscríbete a nuestro boletín</h5>
    </div> -->
  </div>
</div>
<div class="copyright">
  <span>Copyright 2018 todos los derechos reservados</span>
</div>